<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dyx.acf">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".XApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--activity-->
        <activity android:name=".view.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ui.CommonCodeFragmentAct" />
        <activity android:name=".view.ui.DES3Act" />
        <activity android:name=".view.ui.FloatingbuttonAct" />
        <activity android:name=".view.ui.SudokuAct" />
        <activity android:name=".view.ui.HeadSetAct" />
        <activity android:name=".view.ui.MD5Act" />
        <activity android:name=".view.ui.CameraAutoAct" />
        <activity android:name=".view.ui.ScreenShotAct" />
        <activity android:name=".view.ui.VibratorAct" />
        <activity android:name=".view.ui.QrAct" />
        <activity android:name=".view.ui.InstallApkBackgroundAct" />
        <activity android:name=".view.ui.showReceiverMsgAct" />
        <activity android:name=".view.ui.ClickSpaceAct" />
        <activity android:name=".view.ui.ClearDataAct" />
        <activity android:name=".view.ui.BreakpointUploadAct" />

        <!--BroadcastReceiver-->
        <receiver android:name=".receiver.MsgReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>